name: Speed up CI with Caching
on: [push, workflow_dispatch]

jobs:
  test-cache:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Cache Dependencies
        id: cache-step
        uses: actions/cache@v4
        with:
          path: my-dummy-data
          key: cache-fa9d8f4

      - name: prime-cache-fa9d8f4
        if: steps.cache-step.outputs.cache-hit != 'true'
        run: |
          echo "Cache Miss! Creating dummy data..."
          mkdir -p my-dummy-data
          echo "This data is now cached" > my-dummy-data/info.txt
          echo "Result: Miss"

      - name: Final Status
        run: echo "The cache hit status was ${{ steps.cache-step.outputs.cache-hit }}"
